<%= link_to "Edit Profile" ,new_user_profile_path %>
<%= link_to "Show Profile" ,user_profile_path(session[:userName]) %>
<%= link_to "My Friends" ,controller: 'friend_lists',action: :index %>
<%= render 'home/messageView' %>



<% if(@profiles.length >0)  %>
    <table>
      <h1>Welcome To Profile View</h1>
      <col width="10">
      <col width="150">
      <col width="270">
      <col width="80">
      <tr>
        <th>Sr.#</th>
        <th>Name</th>
        <th>Email Id</th>
        <th>Joined Since</th>
      </tr>
      <% counter=0%>
      <% @profiles.each do |profile| %>
          <tr>
            <td> <%= counter+=1%></td>
            <td><%= link_to profile.firstName+" "+ profile.secondName,user_profile_path(profile.userName) %></td>
            <td><%= profile.emailId %></td>
            <td><%= profile.dateOfJoining.to_date %></td>

            <td><%=
                if userHimself? @profile.id , profile.id
               ""
               elsif  alreadyFriend? @profile.id ,profile.id
              link_to "Un Friend"  , friend_list_path(profile.userName) ,method: :delete,  data: { confirm: 'Are you sure?' }
            elsif @profile.requestedFriendship? profile
              link_to "Accept Request " , controller: 'user_profiles' , action: 'makeFriends' , id:profile.userName
            elsif requestAlreadySent? @profile , profile
              "Already Sent!"
            else
              link_to "Send Friend Request " ,controller:'friend_request' , action: 'sendRequest' , id:profile.userName
            end
            %>   </td>
            <td>
              <%= if @profile.requestedFriendship? profile
                  link_to "Reject Request" , controller: 'user_profiles' , action: :rejectFriendRequest , id:profile.userName
              end%>

            </td>

          </tr>
      <% end %>
    </table>
<% end%>
