
<table>
<tr> <td>
<h1><%=@profile.userName %></h1>
</td>
  <td width="50"></td>
<td>

  <%=
      if @profile.pictureUrl
        image_tag( (raw @profile.pictureUrl),width: 100,height: 100)
      end%>
</td>
<td>

  <%=
      if  userHimself? @profile.id , @loggedUser.id
        ""
      elsif alreadyFriend? @profile.id , @loggedUser.id
        'Friend'
      elsif requestAlreadySent? @profile , @loggedUser
        'Request Already Sent'
      else
        link_to "Send Friend Request " ,controller:'friend_request' , action: 'sendRequest' , id:@profile.userName end%>
</td>
</tr>

</table>
<strong>
<table>

  <tr> <td>
    <%=  :'First Name' %>
  </td>
    <td>
      <%= @profile.firstName%>
    </td>

  </tr>

  <tr> <td>
    <%=  :'Second Name' %>
  </td>
    <td>
      <%=@profile.secondName%>
    </td> </tr>

  <tr>
    <td>
      <%= :From %>
    </td>
    <td>
      <%= @profile.address%>
    </td></tr>



  <tr><td>
    <%=  :Education %>
  </td>
    <td>
      <%=@profile.education%>
    </td></tr>


  <tr><td>
    <%=  :'Phone Number' %>
  </td>
    <td>
      <%=@profile.phoneNumber %>
    </td></tr><tr>
  <td>
    <%=  :'Date of Birth' %>
  </td>
  <td>
    <%=@profile.dateOfBirth%>
</tr><tr>
  <td>
    <%=  :'About Me' %>
  </td>
  <td>
    <%=@profile.aboutMe%>
  </td>
</tr>

</table>
  </strong>
<%= render 'comments/comment'%>

<%= render 'comments/commentForm' %>
